<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        @{
            List<string> names = new List<string>
            {
                "Pizza",
                "BLT Sandwich",
                "Lasagna",
                "Carb Cakes",
                "Chicken Alfrado"
            };
        }
        <h1>About Me</h1>
        <p>@ViewBag.Message</p>
        
        @foreach(string n in names)
        {
            if (n [0] == 'P')
            {
                <p style="color: red;">@n</p>
            }
            else
            {
            <p>@n</p>
            }
        }
</html>
