@{
    ViewData["Title"] = "Home Page";
}
@model User
    <style>
    .jumbotron{
    background-image:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
    .logo{
    font-size: 200px;
    }
    .container-fluid{
    text-align: center;
    margin: 25px 0;
    }
    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 33px;
    line-height: 60px;
}
</style>
<div class="jumbotron text-center">
    <h1>Coding Dojo</h1> 
    <p>Activity Planner</p> 
        <div id =Wrapper>
        <div id="container">
        <div class="box1">
            <h1>Register</h1>
            <form asp-action="Register" asp-controller="Home" method="post">
                <div class="form-group">
                    <span asp-validation-for="FirstName"></span>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="LastName"></span>
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Email"></span>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                </div>    
                <div class="form-group">
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="Confirm"></span>
                    <label asp-for="Confirm"></label>
                    <input asp-for="Confirm" class="form-control">
                </div>  
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
    </div>
    <div class="text-center m-3">
    <form asp-action="Login" method="get">
        <p>already registered?        <a href="../Login">Login</a></p>
    </form>
</div>


    
</div>
</div>