<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Succesful Registration!</h1>
        <ul>
            @* <li>First Name: @Model.firstname</li>
            <li>Last Name: @Model.lastname</li>
            <li>Age: @Model.age</li>
            <li>Email: @Model.email</li> *@
        </ul>
    @* <a href="/">Go Back</a> *@
</body>
</html>



